=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class InvestmentHoldingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Deactivate user from Investment Holdings
    # This endpoint deactivates the specific user from the `/investment_holdings` product. To reactivate a user, use any of the current `/investment_holding` endpoints.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InvestmentHoldingsDeactivation]
    def deactivate_user(user_guid, opts = {})
      data, _status_code, _headers = deactivate_user_with_http_info(user_guid, opts)
      data
    end

    # Deactivate user from Investment Holdings
    # This endpoint deactivates the specific user from the &#x60;/investment_holdings&#x60; product. To reactivate a user, use any of the current &#x60;/investment_holding&#x60; endpoints.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvestmentHoldingsDeactivation, Integer, Hash)>] InvestmentHoldingsDeactivation data, response status code and response headers
    def deactivate_user_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentHoldingsApi.deactivate_user ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling InvestmentHoldingsApi.deactivate_user"
      end
      # resource path
      local_var_path = '/users/{user_guid}/investment_holdings_deactivate'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentHoldingsDeactivation'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"InvestmentHoldingsApi.deactivate_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentHoldingsApi#deactivate_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List holdings by user
    # This endpoint lists all holdings associated with the user across all accounts.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [InvestmentHoldingsResponseBody]
    def list_holdings(user_guid, opts = {})
      data, _status_code, _headers = list_holdings_with_http_info(user_guid, opts)
      data
    end

    # List holdings by user
    # This endpoint lists all holdings associated with the user across all accounts.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(InvestmentHoldingsResponseBody, Integer, Hash)>] InvestmentHoldingsResponseBody data, response status code and response headers
    def list_holdings_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentHoldingsApi.list_holdings ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling InvestmentHoldingsApi.list_holdings"
      end
      # resource path
      local_var_path = '/users/{user_guid}/investment_holdings'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentHoldingsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"InvestmentHoldingsApi.list_holdings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentHoldingsApi#list_holdings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List holdings by account
    # This endpoint lists all holdings associated with the particular account defined.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [InvestmentHoldingsResponseBody]
    def list_holdings_by_account(account_guid, user_guid, opts = {})
      data, _status_code, _headers = list_holdings_by_account_with_http_info(account_guid, user_guid, opts)
      data
    end

    # List holdings by account
    # This endpoint lists all holdings associated with the particular account defined.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(InvestmentHoldingsResponseBody, Integer, Hash)>] InvestmentHoldingsResponseBody data, response status code and response headers
    def list_holdings_by_account_with_http_info(account_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentHoldingsApi.list_holdings_by_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling InvestmentHoldingsApi.list_holdings_by_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling InvestmentHoldingsApi.list_holdings_by_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/accounts/{account_guid}/investment_holdings'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentHoldingsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"InvestmentHoldingsApi.list_holdings_by_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentHoldingsApi#list_holdings_by_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List holdings by member
    # This endpoint lists all holdings associated with the specified member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [InvestmentHoldingsResponseBody]
    def list_holdings_by_member(member_guid, user_guid, opts = {})
      data, _status_code, _headers = list_holdings_by_member_with_http_info(member_guid, user_guid, opts)
      data
    end

    # List holdings by member
    # This endpoint lists all holdings associated with the specified member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(InvestmentHoldingsResponseBody, Integer, Hash)>] InvestmentHoldingsResponseBody data, response status code and response headers
    def list_holdings_by_member_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentHoldingsApi.list_holdings_by_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling InvestmentHoldingsApi.list_holdings_by_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling InvestmentHoldingsApi.list_holdings_by_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/investment_holdings'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentHoldingsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"InvestmentHoldingsApi.list_holdings_by_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentHoldingsApi#list_holdings_by_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read holding
    # Use this endpoint to read the attributes of a specific `holding`.
    # @param holding_guid [String] The unique id for a &#x60;holding&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [InvestmentHoldingResponseBody]
    def read_holding(holding_guid, user_guid, opts = {})
      data, _status_code, _headers = read_holding_with_http_info(holding_guid, user_guid, opts)
      data
    end

    # Read holding
    # Use this endpoint to read the attributes of a specific &#x60;holding&#x60;.
    # @param holding_guid [String] The unique id for a &#x60;holding&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(InvestmentHoldingResponseBody, Integer, Hash)>] InvestmentHoldingResponseBody data, response status code and response headers
    def read_holding_with_http_info(holding_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InvestmentHoldingsApi.read_holding ...'
      end
      # verify the required parameter 'holding_guid' is set
      if @api_client.config.client_side_validation && holding_guid.nil?
        fail ArgumentError, "Missing the required parameter 'holding_guid' when calling InvestmentHoldingsApi.read_holding"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling InvestmentHoldingsApi.read_holding"
      end
      # resource path
      local_var_path = '/users/{user_guid}/investment_holdings/{holding_guid}'.sub('{' + 'holding_guid' + '}', CGI.escape(holding_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InvestmentHoldingResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"InvestmentHoldingsApi.read_holding",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InvestmentHoldingsApi#read_holding\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
