=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class ManagedDataApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create managed account
    # Use this endpoint to create a partner-managed account.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_account_create_request_body [ManagedAccountCreateRequestBody] Managed account to be created.
    # @param [Hash] opts the optional parameters
    # @return [AccountResponseBody]
    def create_managed_account(member_guid, user_guid, managed_account_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_account_with_http_info(member_guid, user_guid, managed_account_create_request_body, opts)
      data
    end

    # Create managed account
    # Use this endpoint to create a partner-managed account.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_account_create_request_body [ManagedAccountCreateRequestBody] Managed account to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountResponseBody, Integer, Hash)>] AccountResponseBody data, response status code and response headers
    def create_managed_account_with_http_info(member_guid, user_guid, managed_account_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.create_managed_account ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.create_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.create_managed_account"
      end
      # verify the required parameter 'managed_account_create_request_body' is set
      if @api_client.config.client_side_validation && managed_account_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_account_create_request_body' when calling ManagedDataApi.create_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_account_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.create_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#create_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create managed member
    # Use this endpoint to create a new partner-managed `member`.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_member_create_request_body [ManagedMemberCreateRequestBody] Managed member to be created.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def create_managed_member(user_guid, managed_member_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_member_with_http_info(user_guid, managed_member_create_request_body, opts)
      data
    end

    # Create managed member
    # Use this endpoint to create a new partner-managed &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_member_create_request_body [ManagedMemberCreateRequestBody] Managed member to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def create_managed_member_with_http_info(user_guid, managed_member_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.create_managed_member ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.create_managed_member"
      end
      # verify the required parameter 'managed_member_create_request_body' is set
      if @api_client.config.client_side_validation && managed_member_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_member_create_request_body' when calling ManagedDataApi.create_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_member_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.create_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#create_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create managed transaction
    # Use this endpoint to create a new partner-managed `transaction`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_transaction_create_request_body [ManagedTransactionCreateRequestBody] Managed transaction to be created.
    # @param [Hash] opts the optional parameters
    # @return [TransactionResponseBody]
    def create_managed_transaction(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_transaction_with_http_info(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts)
      data
    end

    # Create managed transaction
    # Use this endpoint to create a new partner-managed &#x60;transaction&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_transaction_create_request_body [ManagedTransactionCreateRequestBody] Managed transaction to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionResponseBody, Integer, Hash)>] TransactionResponseBody data, response status code and response headers
    def create_managed_transaction_with_http_info(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.create_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.create_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.create_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.create_managed_transaction"
      end
      # verify the required parameter 'managed_transaction_create_request_body' is set
      if @api_client.config.client_side_validation && managed_transaction_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_transaction_create_request_body' when calling ManagedDataApi.create_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_transaction_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.create_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#create_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed account
    # Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_account(account_guid, member_guid, user_guid, opts = {})
      delete_managed_account_with_http_info(account_guid, member_guid, user_guid, opts)
      nil
    end

    # Delete managed account
    # Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of &#x60;204 No Content&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_account_with_http_info(account_guid, member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.delete_managed_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.delete_managed_account"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.delete_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.delete_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.delete_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#delete_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed member
    # Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param accept [String] Specifies the media type expected in the response.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_member(member_guid, accept, user_guid, opts = {})
      delete_managed_member_with_http_info(member_guid, accept, user_guid, opts)
      nil
    end

    # Delete managed member
    # Use this endpoint to delete the specified partner-managed &#x60;member&#x60;. The endpoint will respond with a status of &#x60;204 No Content&#x60; without a resource.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param accept [String] Specifies the media type expected in the response.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_member_with_http_info(member_guid, accept, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.delete_managed_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.delete_managed_member"
      end
      # verify the required parameter 'accept' is set
      if @api_client.config.client_side_validation && accept.nil?
        fail ArgumentError, "Missing the required parameter 'accept' when calling ManagedDataApi.delete_managed_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.delete_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      header_params[:'Accept'] = accept

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.delete_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#delete_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed transaction
    # Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_transaction(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      delete_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts)
      nil
    end

    # Delete managed transaction
    # Use this endpoint to delete the specified partner-managed &#x60;transaction&#x60;. The endpoint will respond with a status of &#x60;204 No Content&#x60; without a resource.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.delete_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.delete_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.delete_managed_transaction"
      end
      # verify the required parameter 'transaction_guid' is set
      if @api_client.config.client_side_validation && transaction_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_guid' when calling ManagedDataApi.delete_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.delete_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'transaction_guid' + '}', CGI.escape(transaction_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.delete_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#delete_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed accounts
    # Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-managed member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [AccountsResponseBody]
    def list_managed_accounts(member_guid, user_guid, opts = {})
      data, _status_code, _headers = list_managed_accounts_with_http_info(member_guid, user_guid, opts)
      data
    end

    # List managed accounts
    # Use this endpoint to retrieve a list of all the partner-managed accounts associated with the given partner-managed member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(AccountsResponseBody, Integer, Hash)>] AccountsResponseBody data, response status code and response headers
    def list_managed_accounts_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.list_managed_accounts ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.list_managed_accounts"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.list_managed_accounts"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.list_managed_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#list_managed_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed institutions
    # This endpoint returns a list of institutions which can be used to create partner-managed members.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [InstitutionsResponseBody]
    def list_managed_institutions(opts = {})
      data, _status_code, _headers = list_managed_institutions_with_http_info(opts)
      data
    end

    # List managed institutions
    # This endpoint returns a list of institutions which can be used to create partner-managed members.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(InstitutionsResponseBody, Integer, Hash)>] InstitutionsResponseBody data, response status code and response headers
    def list_managed_institutions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.list_managed_institutions ...'
      end
      # resource path
      local_var_path = '/managed_institutions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InstitutionsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.list_managed_institutions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#list_managed_institutions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed members
    # This endpoint returns a list of all the partner-managed members associated with the specified `user`.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [MembersResponseBody]
    def list_managed_members(user_guid, opts = {})
      data, _status_code, _headers = list_managed_members_with_http_info(user_guid, opts)
      data
    end

    # List managed members
    # This endpoint returns a list of all the partner-managed members associated with the specified &#x60;user&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(MembersResponseBody, Integer, Hash)>] MembersResponseBody data, response status code and response headers
    def list_managed_members_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.list_managed_members ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.list_managed_members"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MembersResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.list_managed_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#list_managed_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List managed transactions
    # This endpoint returns a list of all the partner-managed transactions associated with the specified `account`, scoped through a `user` and a `member`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [String] :from_date Filter transactions from this date. This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
    # @option opts [String] :to_date Filter transactions to this date (at midnight). This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward from the day the request is made to capture pending transactions.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [TransactionsResponseBody]
    def list_managed_transactions(account_guid, member_guid, user_guid, opts = {})
      data, _status_code, _headers = list_managed_transactions_with_http_info(account_guid, member_guid, user_guid, opts)
      data
    end

    # List managed transactions
    # This endpoint returns a list of all the partner-managed transactions associated with the specified &#x60;account&#x60;, scoped through a &#x60;user&#x60; and a &#x60;member&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [String] :from_date Filter transactions from this date. This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 120 days ago if not provided.
    # @option opts [String] :to_date Filter transactions to this date (at midnight). This only supports ISO 8601 format without timestamp (YYYY-MM-DD). Defaults to 5 days forward from the day the request is made to capture pending transactions.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(TransactionsResponseBody, Integer, Hash)>] TransactionsResponseBody data, response status code and response headers
    def list_managed_transactions_with_http_info(account_guid, member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.list_managed_transactions ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.list_managed_transactions"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.list_managed_transactions"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.list_managed_transactions"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'from_date'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'to_date'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.list_managed_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#list_managed_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read managed account
    # Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [AccountResponseBody]
    def read_managed_account(account_guid, member_guid, user_guid, opts = {})
      data, _status_code, _headers = read_managed_account_with_http_info(account_guid, member_guid, user_guid, opts)
      data
    end

    # Read managed account
    # Use this endpoint to read the attributes of a partner-managed account according to its unique guid.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountResponseBody, Integer, Hash)>] AccountResponseBody data, response status code and response headers
    def read_managed_account_with_http_info(account_guid, member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.read_managed_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.read_managed_account"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.read_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.read_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.read_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#read_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read managed member
    # This endpoint returns the attributes of the specified partner-managed`member`.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def read_managed_member(member_guid, user_guid, opts = {})
      data, _status_code, _headers = read_managed_member_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Read managed member
    # This endpoint returns the attributes of the specified partner-managed&#x60;member&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def read_managed_member_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.read_managed_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.read_managed_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.read_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.read_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#read_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read managed transaction
    # Requests to this endpoint will return the attributes of the specified partner-managed `transaction`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TransactionResponseBody]
    def read_managed_transaction(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      data, _status_code, _headers = read_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts)
      data
    end

    # Read managed transaction
    # Requests to this endpoint will return the attributes of the specified partner-managed &#x60;transaction&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionResponseBody, Integer, Hash)>] TransactionResponseBody data, response status code and response headers
    def read_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.read_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.read_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.read_managed_transaction"
      end
      # verify the required parameter 'transaction_guid' is set
      if @api_client.config.client_side_validation && transaction_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_guid' when calling ManagedDataApi.read_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.read_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'transaction_guid' + '}', CGI.escape(transaction_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.read_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#read_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update managed account
    # Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_account_update_request_body [ManagedAccountUpdateRequestBody] Managed account object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [AccountResponseBody]
    def update_managed_account(account_guid, member_guid, user_guid, managed_account_update_request_body, opts = {})
      data, _status_code, _headers = update_managed_account_with_http_info(account_guid, member_guid, user_guid, managed_account_update_request_body, opts)
      data
    end

    # Update managed account
    # Use this endpoint to update the attributes of a partner-managed account according to its unique GUID.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_account_update_request_body [ManagedAccountUpdateRequestBody] Managed account object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountResponseBody, Integer, Hash)>] AccountResponseBody data, response status code and response headers
    def update_managed_account_with_http_info(account_guid, member_guid, user_guid, managed_account_update_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.update_managed_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.update_managed_account"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.update_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.update_managed_account"
      end
      # verify the required parameter 'managed_account_update_request_body' is set
      if @api_client.config.client_side_validation && managed_account_update_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_account_update_request_body' when calling ManagedDataApi.update_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_account_update_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.update_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#update_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update managed member
    # Use this endpoint to update the attributes of the specified partner_managed `member`.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_member_update_request_body [ManagedMemberUpdateRequestBody] Managed member object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def update_managed_member(member_guid, user_guid, managed_member_update_request_body, opts = {})
      data, _status_code, _headers = update_managed_member_with_http_info(member_guid, user_guid, managed_member_update_request_body, opts)
      data
    end

    # Update managed member
    # Use this endpoint to update the attributes of the specified partner_managed &#x60;member&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_member_update_request_body [ManagedMemberUpdateRequestBody] Managed member object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def update_managed_member_with_http_info(member_guid, user_guid, managed_member_update_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.update_managed_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.update_managed_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.update_managed_member"
      end
      # verify the required parameter 'managed_member_update_request_body' is set
      if @api_client.config.client_side_validation && managed_member_update_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_member_update_request_body' when calling ManagedDataApi.update_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_member_update_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.update_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#update_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update managed transaction
    # Use this endpoint to update the attributes of the specified partner_managed `transaction`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_transaction_update_request_body [ManagedTransactionUpdateRequestBody] Managed transaction object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [TransactionResponseBody]
    def update_managed_transaction(account_guid, member_guid, transaction_guid, user_guid, managed_transaction_update_request_body, opts = {})
      data, _status_code, _headers = update_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, managed_transaction_update_request_body, opts)
      data
    end

    # Update managed transaction
    # Use this endpoint to update the attributes of the specified partner_managed &#x60;transaction&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param managed_transaction_update_request_body [ManagedTransactionUpdateRequestBody] Managed transaction object to be updated (While no single parameter is required, the request body can&#39;t be empty)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionResponseBody, Integer, Hash)>] TransactionResponseBody data, response status code and response headers
    def update_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, managed_transaction_update_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ManagedDataApi.update_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling ManagedDataApi.update_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling ManagedDataApi.update_managed_transaction"
      end
      # verify the required parameter 'transaction_guid' is set
      if @api_client.config.client_side_validation && transaction_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_guid' when calling ManagedDataApi.update_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling ManagedDataApi.update_managed_transaction"
      end
      # verify the required parameter 'managed_transaction_update_request_body' is set
      if @api_client.config.client_side_validation && managed_transaction_update_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_transaction_update_request_body' when calling ManagedDataApi.update_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'transaction_guid' + '}', CGI.escape(transaction_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_transaction_update_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ManagedDataApi.update_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ManagedDataApi#update_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
