=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class MicrodepositsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or pre-initiate a microdeposit
    # Use this endpoint to create or pre-initiate a microdeposit. The response will include the new microdeposit record with a status of `INITIATED` or `PREINITIATED` respectively.  To pre-initiate a microdeposit, you only need to set `email` (string), `first_name` (string), and `last_name` (string) in the request body.   Pre-initiating a microdeposit allows you to pass the end user's first name, last name, and email if this data has already been collected. If the end user selects an institution which requires the microdeposit flow, the pre-initiated `micro_deposit` will be used and the Connect Widget step that normally requests this info from the end user will be skipped. However, if the end user selects an institution which supports IAV, the pre-initiated `micro_deposit` will be deleted and IAV will be used instead. When requesting a Connect Widget URL after pre-initiating, make sure to set the `current_microdeposit_guid` to the resulting microdeposit's `guid` and set the `mode` to `verification`. If you use this enhanced flow, a `micro_deposit` should be pre-initiated for all connect sessions in verification mode. After pre-initiating a microdeposit, pass the GUID to the config as `current_microdeposit_guid` and set the `mode` to `verification` when requesting a Connect URL.  Pre-initiating a microdeposit is optional. If you choose to implement this flow, it should be used for all Connect Widget sessions in verification mode. 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param microdeposit_request_body [MicrodepositRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [MicrodepositResponseBody]
    def create_microdeposit(user_guid, microdeposit_request_body, opts = {})
      data, _status_code, _headers = create_microdeposit_with_http_info(user_guid, microdeposit_request_body, opts)
      data
    end

    # Create or pre-initiate a microdeposit
    # Use this endpoint to create or pre-initiate a microdeposit. The response will include the new microdeposit record with a status of &#x60;INITIATED&#x60; or &#x60;PREINITIATED&#x60; respectively.  To pre-initiate a microdeposit, you only need to set &#x60;email&#x60; (string), &#x60;first_name&#x60; (string), and &#x60;last_name&#x60; (string) in the request body.   Pre-initiating a microdeposit allows you to pass the end user&#39;s first name, last name, and email if this data has already been collected. If the end user selects an institution which requires the microdeposit flow, the pre-initiated &#x60;micro_deposit&#x60; will be used and the Connect Widget step that normally requests this info from the end user will be skipped. However, if the end user selects an institution which supports IAV, the pre-initiated &#x60;micro_deposit&#x60; will be deleted and IAV will be used instead. When requesting a Connect Widget URL after pre-initiating, make sure to set the &#x60;current_microdeposit_guid&#x60; to the resulting microdeposit&#39;s &#x60;guid&#x60; and set the &#x60;mode&#x60; to &#x60;verification&#x60;. If you use this enhanced flow, a &#x60;micro_deposit&#x60; should be pre-initiated for all connect sessions in verification mode. After pre-initiating a microdeposit, pass the GUID to the config as &#x60;current_microdeposit_guid&#x60; and set the &#x60;mode&#x60; to &#x60;verification&#x60; when requesting a Connect URL.  Pre-initiating a microdeposit is optional. If you choose to implement this flow, it should be used for all Connect Widget sessions in verification mode. 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param microdeposit_request_body [MicrodepositRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrodepositResponseBody, Integer, Hash)>] MicrodepositResponseBody data, response status code and response headers
    def create_microdeposit_with_http_info(user_guid, microdeposit_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.create_microdeposit ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MicrodepositsApi.create_microdeposit"
      end
      # verify the required parameter 'microdeposit_request_body' is set
      if @api_client.config.client_side_validation && microdeposit_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'microdeposit_request_body' when calling MicrodepositsApi.create_microdeposit"
      end
      # resource path
      local_var_path = '/users/{user_guid}/micro_deposits'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(microdeposit_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MicrodepositResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.create_microdeposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#create_microdeposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a microdeposit
    # Use this endpoint to delete the specified microdeposit.
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_microdeposit(micro_deposit_guid, user_guid, opts = {})
      delete_microdeposit_with_http_info(micro_deposit_guid, user_guid, opts)
      nil
    end

    # Delete a microdeposit
    # Use this endpoint to delete the specified microdeposit.
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_microdeposit_with_http_info(micro_deposit_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.delete_microdeposit ...'
      end
      # verify the required parameter 'micro_deposit_guid' is set
      if @api_client.config.client_side_validation && micro_deposit_guid.nil?
        fail ArgumentError, "Missing the required parameter 'micro_deposit_guid' when calling MicrodepositsApi.delete_microdeposit"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MicrodepositsApi.delete_microdeposit"
      end
      # resource path
      local_var_path = '/users/{user_guid}/micro_deposits/{micro_deposit_guid}'.sub('{' + 'micro_deposit_guid' + '}', CGI.escape(micro_deposit_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.delete_microdeposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#delete_microdeposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all microdeposits for a user
    # Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MicrodepositsResponseBody]
    def list_user_microdeposits(user_guid, opts = {})
      data, _status_code, _headers = list_user_microdeposits_with_http_info(user_guid, opts)
      data
    end

    # List all microdeposits for a user
    # Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrodepositsResponseBody, Integer, Hash)>] MicrodepositsResponseBody data, response status code and response headers
    def list_user_microdeposits_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.list_user_microdeposits ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MicrodepositsApi.list_user_microdeposits"
      end
      # resource path
      local_var_path = '/users/{user_guid}/micro_deposits'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MicrodepositsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.list_user_microdeposits",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#list_user_microdeposits\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all verifications for a user
    # This endpoint returns a list of the account verifications associated with the user, as well as the status of those verifications. 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MicrodepositResponseBody]
    def list_user_verifications(user_guid, opts = {})
      data, _status_code, _headers = list_user_verifications_with_http_info(user_guid, opts)
      data
    end

    # List all verifications for a user
    # This endpoint returns a list of the account verifications associated with the user, as well as the status of those verifications. 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrodepositResponseBody, Integer, Hash)>] MicrodepositResponseBody data, response status code and response headers
    def list_user_verifications_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.list_user_verifications ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MicrodepositsApi.list_user_verifications"
      end
      # resource path
      local_var_path = '/users/{user_guid}/account_verifications'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MicrodepositResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.list_user_verifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#list_user_verifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a microdeposit for a user
    # Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID. <br></br> Webhooks for microdeposit status changes are triggered when a status changes. The actual status of the microdeposit guid updates every minute. You may force a status update by calling the read microdeposit endpoint. 
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MicrodepositResponseBody]
    def read_user_microdeposit(micro_deposit_guid, user_guid, opts = {})
      data, _status_code, _headers = read_user_microdeposit_with_http_info(micro_deposit_guid, user_guid, opts)
      data
    end

    # Read a microdeposit for a user
    # Use this endpoint to read the attributes of a specific microdeposit according to its unique GUID. &lt;br&gt;&lt;/br&gt; Webhooks for microdeposit status changes are triggered when a status changes. The actual status of the microdeposit guid updates every minute. You may force a status update by calling the read microdeposit endpoint. 
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MicrodepositResponseBody, Integer, Hash)>] MicrodepositResponseBody data, response status code and response headers
    def read_user_microdeposit_with_http_info(micro_deposit_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.read_user_microdeposit ...'
      end
      # verify the required parameter 'micro_deposit_guid' is set
      if @api_client.config.client_side_validation && micro_deposit_guid.nil?
        fail ArgumentError, "Missing the required parameter 'micro_deposit_guid' when calling MicrodepositsApi.read_user_microdeposit"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MicrodepositsApi.read_user_microdeposit"
      end
      # resource path
      local_var_path = '/users/{user_guid}/micro_deposits/{micro_deposit_guid}'.sub('{' + 'micro_deposit_guid' + '}', CGI.escape(micro_deposit_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MicrodepositResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.read_user_microdeposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#read_user_microdeposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a Microdeposit
    # Use this endpoint to verify the amounts deposited into the account during a microdeposit verification. The verification has not successfully completed until the `status` is `VERIFIED`. Poll the `/users/{user_guid}/micro_deposits/{micro_deposit_guid}` (read microdeposit) endpoint until you see this status or an error state.
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param [Hash] opts the optional parameters
    # @option opts [MicrodepositVerifyRequestBody] :microdeposit_verify_request_body 
    # @return [MicrodepositResponseBody]
    def verify_microdeposit(micro_deposit_guid, opts = {})
      data, _status_code, _headers = verify_microdeposit_with_http_info(micro_deposit_guid, opts)
      data
    end

    # Verify a Microdeposit
    # Use this endpoint to verify the amounts deposited into the account during a microdeposit verification. The verification has not successfully completed until the &#x60;status&#x60; is &#x60;VERIFIED&#x60;. Poll the &#x60;/users/{user_guid}/micro_deposits/{micro_deposit_guid}&#x60; (read microdeposit) endpoint until you see this status or an error state.
    # @param micro_deposit_guid [String] The unique identifier for the microdeposit. Defined by MX.
    # @param [Hash] opts the optional parameters
    # @option opts [MicrodepositVerifyRequestBody] :microdeposit_verify_request_body 
    # @return [Array<(MicrodepositResponseBody, Integer, Hash)>] MicrodepositResponseBody data, response status code and response headers
    def verify_microdeposit_with_http_info(micro_deposit_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MicrodepositsApi.verify_microdeposit ...'
      end
      # verify the required parameter 'micro_deposit_guid' is set
      if @api_client.config.client_side_validation && micro_deposit_guid.nil?
        fail ArgumentError, "Missing the required parameter 'micro_deposit_guid' when calling MicrodepositsApi.verify_microdeposit"
      end
      # resource path
      local_var_path = '/micro_deposits/{micro_deposit_guid}/verify'.sub('{' + 'micro_deposit_guid' + '}', CGI.escape(micro_deposit_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'microdeposit_verify_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'MicrodepositResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MicrodepositsApi.verify_microdeposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MicrodepositsApi#verify_microdeposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
