=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class MonthlyCashFlowProfileApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Read monthly cash flow profile
    # Read monthly cash flow profile.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MonthlyCashFlowResponseBody]
    def read_monthly_cash_flow_profile(user_guid, opts = {})
      data, _status_code, _headers = read_monthly_cash_flow_profile_with_http_info(user_guid, opts)
      data
    end

    # Read monthly cash flow profile
    # Read monthly cash flow profile.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MonthlyCashFlowResponseBody, Integer, Hash)>] MonthlyCashFlowResponseBody data, response status code and response headers
    def read_monthly_cash_flow_profile_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonthlyCashFlowProfileApi.read_monthly_cash_flow_profile ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MonthlyCashFlowProfileApi.read_monthly_cash_flow_profile"
      end
      # resource path
      local_var_path = '/users/{user_guid}/monthly_cash_flow_profile'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MonthlyCashFlowResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MonthlyCashFlowProfileApi.read_monthly_cash_flow_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonthlyCashFlowProfileApi#read_monthly_cash_flow_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update monthly cash flow profile
    # Use this endpoint to update the attributes of a `monthly_cash_flow_profile`.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param monthly_cash_flow_profile_request_body [MonthlyCashFlowProfileRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [MonthlyCashFlowResponseBody]
    def update_monthly_cash_flow_profile(user_guid, monthly_cash_flow_profile_request_body, opts = {})
      data, _status_code, _headers = update_monthly_cash_flow_profile_with_http_info(user_guid, monthly_cash_flow_profile_request_body, opts)
      data
    end

    # Update monthly cash flow profile
    # Use this endpoint to update the attributes of a &#x60;monthly_cash_flow_profile&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param monthly_cash_flow_profile_request_body [MonthlyCashFlowProfileRequestBody] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MonthlyCashFlowResponseBody, Integer, Hash)>] MonthlyCashFlowResponseBody data, response status code and response headers
    def update_monthly_cash_flow_profile_with_http_info(user_guid, monthly_cash_flow_profile_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonthlyCashFlowProfileApi.update_monthly_cash_flow_profile ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MonthlyCashFlowProfileApi.update_monthly_cash_flow_profile"
      end
      # verify the required parameter 'monthly_cash_flow_profile_request_body' is set
      if @api_client.config.client_side_validation && monthly_cash_flow_profile_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'monthly_cash_flow_profile_request_body' when calling MonthlyCashFlowProfileApi.update_monthly_cash_flow_profile"
      end
      # resource path
      local_var_path = '/users/{user_guid}/monthly_cash_flow_profile'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(monthly_cash_flow_profile_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MonthlyCashFlowResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MonthlyCashFlowProfileApi.update_monthly_cash_flow_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonthlyCashFlowProfileApi#update_monthly_cash_flow_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
