=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.

The version of the OpenAPI document: 0.1.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 7.0.1

=end

require 'cgi'

module MxPlatformRuby
  class MxPlatformApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Aggregate member
    # Calling this endpoint initiates an aggregation event for the member. This brings in the latest account and transaction data from the connected institution. If this data has recently been updated, MX may not initiate an aggregation event.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def aggregate_member(member_guid, user_guid, opts = {})
      data, _status_code, _headers = aggregate_member_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Aggregate member
    # Calling this endpoint initiates an aggregation event for the member. This brings in the latest account and transaction data from the connected institution. If this data has recently been updated, MX may not initiate an aggregation event.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def aggregate_member_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.aggregate_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.aggregate_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.aggregate_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/aggregate'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.aggregate_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#aggregate_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check balances
    # This endpoint operates much like the aggregate member endpoint except that it gathers only account balance information; it does not gather any transaction data.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def check_balances(member_guid, user_guid, opts = {})
      data, _status_code, _headers = check_balances_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Check balances
    # This endpoint operates much like the aggregate member endpoint except that it gathers only account balance information; it does not gather any transaction data.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def check_balances_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.check_balances ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.check_balances"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.check_balances"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/check_balance'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.check_balances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#check_balances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create category
    # Use this endpoint to create a new custom category for a specific `user`.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param category_create_request_body [CategoryCreateRequestBody] Custom category object to be created
    # @param [Hash] opts the optional parameters
    # @return [CategoryResponseBody]
    def create_category(user_guid, category_create_request_body, opts = {})
      data, _status_code, _headers = create_category_with_http_info(user_guid, category_create_request_body, opts)
      data
    end

    # Create category
    # Use this endpoint to create a new custom category for a specific &#x60;user&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param category_create_request_body [CategoryCreateRequestBody] Custom category object to be created
    # @param [Hash] opts the optional parameters
    # @return [Array<(CategoryResponseBody, Integer, Hash)>] CategoryResponseBody data, response status code and response headers
    def create_category_with_http_info(user_guid, category_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_category ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_category"
      end
      # verify the required parameter 'category_create_request_body' is set
      if @api_client.config.client_side_validation && category_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'category_create_request_body' when calling MxPlatformApi.create_category"
      end
      # resource path
      local_var_path = '/users/{user_guid}/categories'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(category_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create managed account
    # Use this endpoint to create a partner-managed account.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_account_create_request_body [ManagedAccountCreateRequestBody] Managed account to be created.
    # @param [Hash] opts the optional parameters
    # @return [AccountResponseBody]
    def create_managed_account(member_guid, user_guid, managed_account_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_account_with_http_info(member_guid, user_guid, managed_account_create_request_body, opts)
      data
    end

    # Create managed account
    # Use this endpoint to create a partner-managed account.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_account_create_request_body [ManagedAccountCreateRequestBody] Managed account to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountResponseBody, Integer, Hash)>] AccountResponseBody data, response status code and response headers
    def create_managed_account_with_http_info(member_guid, user_guid, managed_account_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_managed_account ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.create_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_managed_account"
      end
      # verify the required parameter 'managed_account_create_request_body' is set
      if @api_client.config.client_side_validation && managed_account_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_account_create_request_body' when calling MxPlatformApi.create_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_account_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create managed member
    # Use this endpoint to create a new partner-managed `member`.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_member_create_request_body [ManagedMemberCreateRequestBody] Managed member to be created.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def create_managed_member(user_guid, managed_member_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_member_with_http_info(user_guid, managed_member_create_request_body, opts)
      data
    end

    # Create managed member
    # Use this endpoint to create a new partner-managed &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_member_create_request_body [ManagedMemberCreateRequestBody] Managed member to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def create_managed_member_with_http_info(user_guid, managed_member_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_managed_member ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_managed_member"
      end
      # verify the required parameter 'managed_member_create_request_body' is set
      if @api_client.config.client_side_validation && managed_member_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_member_create_request_body' when calling MxPlatformApi.create_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_member_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create managed transaction
    # Use this endpoint to create a new partner-managed `transaction`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_transaction_create_request_body [ManagedTransactionCreateRequestBody] Managed transaction to be created.
    # @param [Hash] opts the optional parameters
    # @return [TransactionResponseBody]
    def create_managed_transaction(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts = {})
      data, _status_code, _headers = create_managed_transaction_with_http_info(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts)
      data
    end

    # Create managed transaction
    # Use this endpoint to create a new partner-managed &#x60;transaction&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param managed_transaction_create_request_body [ManagedTransactionCreateRequestBody] Managed transaction to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionResponseBody, Integer, Hash)>] TransactionResponseBody data, response status code and response headers
    def create_managed_transaction_with_http_info(account_guid, member_guid, user_guid, managed_transaction_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling MxPlatformApi.create_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.create_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_managed_transaction"
      end
      # verify the required parameter 'managed_transaction_create_request_body' is set
      if @api_client.config.client_side_validation && managed_transaction_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'managed_transaction_create_request_body' when calling MxPlatformApi.create_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(managed_transaction_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create manual account
    # This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed..
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param account_create_request_body [AccountCreateRequestBody] Manual account object to be created.
    # @param [Hash] opts the optional parameters
    # @return [AccountResponseBody]
    def create_manual_account(user_guid, account_create_request_body, opts = {})
      data, _status_code, _headers = create_manual_account_with_http_info(user_guid, account_create_request_body, opts)
      data
    end

    # Create manual account
    # This endpoint can only be used to create manual accounts. Creating a manual account will automatically create it under the Manual Institution member. Since a manual account has no credentials tied to the member, the account will never aggregate or include data from a data feed..
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param account_create_request_body [AccountCreateRequestBody] Manual account object to be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountResponseBody, Integer, Hash)>] AccountResponseBody data, response status code and response headers
    def create_manual_account_with_http_info(user_guid, account_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_manual_account ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_manual_account"
      end
      # verify the required parameter 'account_create_request_body' is set
      if @api_client.config.client_side_validation && account_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'account_create_request_body' when calling MxPlatformApi.create_manual_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/accounts'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_manual_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_manual_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create member
    # This endpoint allows you to create a new member. Members are created with the required parameters credentials and institution_code, and the optional parameters id and metadata. When creating a member, youll need to include the correct type of credential required by the financial institution and provided by the user. You can find out which credential type is required with the `/institutions/{institution_code}/credentials` endpoint. If successful, the MX Platform API will respond with the newly-created member object. Once you successfully create a member, MX will immediately validate the provided credentials and attempt to aggregate data for accounts and transactions.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param member_create_request_body [MemberCreateRequestBody] Member object to be created with optional parameters (id and metadata) and required parameters (credentials and institution_code)
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def create_member(user_guid, member_create_request_body, opts = {})
      data, _status_code, _headers = create_member_with_http_info(user_guid, member_create_request_body, opts)
      data
    end

    # Create member
    # This endpoint allows you to create a new member. Members are created with the required parameters credentials and institution_code, and the optional parameters id and metadata. When creating a member, youll need to include the correct type of credential required by the financial institution and provided by the user. You can find out which credential type is required with the &#x60;/institutions/{institution_code}/credentials&#x60; endpoint. If successful, the MX Platform API will respond with the newly-created member object. Once you successfully create a member, MX will immediately validate the provided credentials and attempt to aggregate data for accounts and transactions.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param member_create_request_body [MemberCreateRequestBody] Member object to be created with optional parameters (id and metadata) and required parameters (credentials and institution_code)
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def create_member_with_http_info(user_guid, member_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_member ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_member"
      end
      # verify the required parameter 'member_create_request_body' is set
      if @api_client.config.client_side_validation && member_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'member_create_request_body' when calling MxPlatformApi.create_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(member_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create tag
    # Use this endpoint to create a new custom tag.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param tag_create_request_body [TagCreateRequestBody] Tag object to be created with required parameters (tag_guid)
    # @param [Hash] opts the optional parameters
    # @return [TagResponseBody]
    def create_tag(user_guid, tag_create_request_body, opts = {})
      data, _status_code, _headers = create_tag_with_http_info(user_guid, tag_create_request_body, opts)
      data
    end

    # Create tag
    # Use this endpoint to create a new custom tag.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param tag_create_request_body [TagCreateRequestBody] Tag object to be created with required parameters (tag_guid)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TagResponseBody, Integer, Hash)>] TagResponseBody data, response status code and response headers
    def create_tag_with_http_info(user_guid, tag_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_tag ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_tag"
      end
      # verify the required parameter 'tag_create_request_body' is set
      if @api_client.config.client_side_validation && tag_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'tag_create_request_body' when calling MxPlatformApi.create_tag"
      end
      # resource path
      local_var_path = '/users/{user_guid}/tags'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tag_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TagResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create tagging
    # Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param tagging_create_request_body [TaggingCreateRequestBody] Tagging object to be created with required parameters (tag_guid and transaction_guid)
    # @param [Hash] opts the optional parameters
    # @return [TaggingResponseBody]
    def create_tagging(user_guid, tagging_create_request_body, opts = {})
      data, _status_code, _headers = create_tagging_with_http_info(user_guid, tagging_create_request_body, opts)
      data
    end

    # Create tagging
    # Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param tagging_create_request_body [TaggingCreateRequestBody] Tagging object to be created with required parameters (tag_guid and transaction_guid)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaggingResponseBody, Integer, Hash)>] TaggingResponseBody data, response status code and response headers
    def create_tagging_with_http_info(user_guid, tagging_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_tagging ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_tagging"
      end
      # verify the required parameter 'tagging_create_request_body' is set
      if @api_client.config.client_side_validation && tagging_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_create_request_body' when calling MxPlatformApi.create_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tagging_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TaggingResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create transaction rule
    # Use this endpoint to create a new transaction rule. The newly-created `transaction_rule` object will be returned if successful.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param transaction_rule_create_request_body [TransactionRuleCreateRequestBody] TransactionRule object to be created with optional parameters (description) and required parameters (category_guid and match_description)
    # @param [Hash] opts the optional parameters
    # @return [TransactionRuleResponseBody]
    def create_transaction_rule(user_guid, transaction_rule_create_request_body, opts = {})
      data, _status_code, _headers = create_transaction_rule_with_http_info(user_guid, transaction_rule_create_request_body, opts)
      data
    end

    # Create transaction rule
    # Use this endpoint to create a new transaction rule. The newly-created &#x60;transaction_rule&#x60; object will be returned if successful.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param transaction_rule_create_request_body [TransactionRuleCreateRequestBody] TransactionRule object to be created with optional parameters (description) and required parameters (category_guid and match_description)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionRuleResponseBody, Integer, Hash)>] TransactionRuleResponseBody data, response status code and response headers
    def create_transaction_rule_with_http_info(user_guid, transaction_rule_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_transaction_rule ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.create_transaction_rule"
      end
      # verify the required parameter 'transaction_rule_create_request_body' is set
      if @api_client.config.client_side_validation && transaction_rule_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_create_request_body' when calling MxPlatformApi.create_transaction_rule"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(transaction_rule_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionRuleResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_transaction_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_transaction_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create user
    # Use this endpoint to create a new user. The API will respond with the newly-created user object if successful. Disabling a user means that accounts and transactions associated with it will not be updated in the background by MX. It will also restrict access to that user’s data until they are no longer disabled.
    # @param user_create_request_body [UserCreateRequestBody] User object to be created. (None of these parameters are required, but the user object cannot be empty)
    # @param [Hash] opts the optional parameters
    # @return [UserResponseBody]
    def create_user(user_create_request_body, opts = {})
      data, _status_code, _headers = create_user_with_http_info(user_create_request_body, opts)
      data
    end

    # Create user
    # Use this endpoint to create a new user. The API will respond with the newly-created user object if successful. Disabling a user means that accounts and transactions associated with it will not be updated in the background by MX. It will also restrict access to that user’s data until they are no longer disabled.
    # @param user_create_request_body [UserCreateRequestBody] User object to be created. (None of these parameters are required, but the user object cannot be empty)
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserResponseBody, Integer, Hash)>] UserResponseBody data, response status code and response headers
    def create_user_with_http_info(user_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.create_user ...'
      end
      # verify the required parameter 'user_create_request_body' is set
      if @api_client.config.client_side_validation && user_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'user_create_request_body' when calling MxPlatformApi.create_user"
      end
      # resource path
      local_var_path = '/users'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(user_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'UserResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.create_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#create_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete category
    # Use this endpoint to delete a specific custom category according to its unique GUID. The API will respond with an empty object and a status of `204 No Content`.
    # @param category_guid [String] The unique id for a &#x60;category&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_category(category_guid, user_guid, opts = {})
      delete_category_with_http_info(category_guid, user_guid, opts)
      nil
    end

    # Delete category
    # Use this endpoint to delete a specific custom category according to its unique GUID. The API will respond with an empty object and a status of &#x60;204 No Content&#x60;.
    # @param category_guid [String] The unique id for a &#x60;category&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_category_with_http_info(category_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_category ...'
      end
      # verify the required parameter 'category_guid' is set
      if @api_client.config.client_side_validation && category_guid.nil?
        fail ArgumentError, "Missing the required parameter 'category_guid' when calling MxPlatformApi.delete_category"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_category"
      end
      # resource path
      local_var_path = '/users/{user_guid}/categories/{category_guid}'.sub('{' + 'category_guid' + '}', CGI.escape(category_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed account
    # Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of `204 No Content`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_account(account_guid, member_guid, user_guid, opts = {})
      delete_managed_account_with_http_info(account_guid, member_guid, user_guid, opts)
      nil
    end

    # Delete managed account
    # Use this endpoint to delete a partner-managed account according to its unique GUID. If successful, the API will respond with a status of &#x60;204 No Content&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_account_with_http_info(account_guid, member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_managed_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling MxPlatformApi.delete_managed_account"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.delete_managed_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_managed_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_managed_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_managed_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed member
    # Use this endpoint to delete the specified partner-managed `member`. The endpoint will respond with a status of `204 No Content` without a resource.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_member(member_guid, user_guid, opts = {})
      delete_managed_member_with_http_info(member_guid, user_guid, opts)
      nil
    end

    # Delete managed member
    # Use this endpoint to delete the specified partner-managed &#x60;member&#x60;. The endpoint will respond with a status of &#x60;204 No Content&#x60; without a resource.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_member_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_managed_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.delete_managed_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_managed_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_managed_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_managed_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete managed transaction
    # Use this endpoint to delete the specified partner-managed `transaction`. The endpoint will respond with a status of `204 No Content` without a resource.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_managed_transaction(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      delete_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts)
      nil
    end

    # Delete managed transaction
    # Use this endpoint to delete the specified partner-managed &#x60;transaction&#x60;. The endpoint will respond with a status of &#x60;204 No Content&#x60; without a resource.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param transaction_guid [String] The unique id for a &#x60;transaction&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_managed_transaction_with_http_info(account_guid, member_guid, transaction_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_managed_transaction ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling MxPlatformApi.delete_managed_transaction"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.delete_managed_transaction"
      end
      # verify the required parameter 'transaction_guid' is set
      if @api_client.config.client_side_validation && transaction_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_guid' when calling MxPlatformApi.delete_managed_transaction"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_managed_transaction"
      end
      # resource path
      local_var_path = '/users/{user_guid}/managed_members/{member_guid}/accounts/{account_guid}/transactions/{transaction_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'transaction_guid' + '}', CGI.escape(transaction_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_managed_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_managed_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete manual account
    # This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of `204 No Content`.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_manual_account(account_guid, user_guid, opts = {})
      delete_manual_account_with_http_info(account_guid, user_guid, opts)
      nil
    end

    # Delete manual account
    # This endpoint deletes accounts that were manually created. The API will respond with an empty object and a status of &#x60;204 No Content&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_manual_account_with_http_info(account_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_manual_account ...'
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling MxPlatformApi.delete_manual_account"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_manual_account"
      end
      # resource path
      local_var_path = '/users/{user_guid}/accounts/{account_guid}'.sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_manual_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_manual_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete member
    # Accessing this endpoint will permanently delete a member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_member(member_guid, user_guid, opts = {})
      delete_member_with_http_info(member_guid, user_guid, opts)
      nil
    end

    # Delete member
    # Accessing this endpoint will permanently delete a member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_member_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_member ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.delete_member"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_member"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete tag
    # Use this endpoint to permanently delete a specific tag based on its unique GUID. If successful, the API will respond with status of `204 No Content`.
    # @param tag_guid [String] The unique id for a &#x60;tag&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tag(tag_guid, user_guid, opts = {})
      delete_tag_with_http_info(tag_guid, user_guid, opts)
      nil
    end

    # Delete tag
    # Use this endpoint to permanently delete a specific tag based on its unique GUID. If successful, the API will respond with status of &#x60;204 No Content&#x60;.
    # @param tag_guid [String] The unique id for a &#x60;tag&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tag_with_http_info(tag_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_tag ...'
      end
      # verify the required parameter 'tag_guid' is set
      if @api_client.config.client_side_validation && tag_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tag_guid' when calling MxPlatformApi.delete_tag"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_tag"
      end
      # resource path
      local_var_path = '/users/{user_guid}/tags/{tag_guid}'.sub('{' + 'tag_guid' + '}', CGI.escape(tag_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_tag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_tag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete tagging
    # Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tagging(tagging_guid, user_guid, opts = {})
      delete_tagging_with_http_info(tagging_guid, user_guid, opts)
      nil
    end

    # Delete tagging
    # Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tagging_with_http_info(tagging_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_tagging ...'
      end
      # verify the required parameter 'tagging_guid' is set
      if @api_client.config.client_side_validation && tagging_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_guid' when calling MxPlatformApi.delete_tagging"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings/{tagging_guid}'.sub('{' + 'tagging_guid' + '}', CGI.escape(tagging_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete transaction rule
    # Use this endpoint to permanently delete a transaction rule based on its unique GUID.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_transaction_rule(transaction_rule_guid, user_guid, opts = {})
      delete_transaction_rule_with_http_info(transaction_rule_guid, user_guid, opts)
      nil
    end

    # Delete transaction rule
    # Use this endpoint to permanently delete a transaction rule based on its unique GUID.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_transaction_rule_with_http_info(transaction_rule_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_transaction_rule ...'
      end
      # verify the required parameter 'transaction_rule_guid' is set
      if @api_client.config.client_side_validation && transaction_rule_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_guid' when calling MxPlatformApi.delete_transaction_rule"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_transaction_rule"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules/{transaction_rule_guid}'.sub('{' + 'transaction_rule_guid' + '}', CGI.escape(transaction_rule_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_transaction_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_transaction_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete user
    # Use this endpoint to delete the specified `user`. The response will have a status of `204 No Content` without an object.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_user(user_guid, opts = {})
      delete_user_with_http_info(user_guid, opts)
      nil
    end

    # Delete user
    # Use this endpoint to delete the specified &#x60;user&#x60;. The response will have a status of &#x60;204 No Content&#x60; without an object.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_user_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.delete_user ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.delete_user"
      end
      # resource path
      local_var_path = '/users/{user_guid}'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.delete_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#delete_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # (Deprecated) Request an authorization code.
    # (This endpoint is deprecated. Clients should use `/authorization_code`.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
    # @param payment_processor_authorization_code_request_body [PaymentProcessorAuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [PaymentProcessorAuthorizationCodeResponseBody]
    def deprecated_request_payment_processor_authorization_code(payment_processor_authorization_code_request_body, opts = {})
      data, _status_code, _headers = deprecated_request_payment_processor_authorization_code_with_http_info(payment_processor_authorization_code_request_body, opts)
      data
    end

    # (Deprecated) Request an authorization code.
    # (This endpoint is deprecated. Clients should use &#x60;/authorization_code&#x60;.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
    # @param payment_processor_authorization_code_request_body [PaymentProcessorAuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentProcessorAuthorizationCodeResponseBody, Integer, Hash)>] PaymentProcessorAuthorizationCodeResponseBody data, response status code and response headers
    def deprecated_request_payment_processor_authorization_code_with_http_info(payment_processor_authorization_code_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.deprecated_request_payment_processor_authorization_code ...'
      end
      # verify the required parameter 'payment_processor_authorization_code_request_body' is set
      if @api_client.config.client_side_validation && payment_processor_authorization_code_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'payment_processor_authorization_code_request_body' when calling MxPlatformApi.deprecated_request_payment_processor_authorization_code"
      end
      # resource path
      local_var_path = '/payment_processor_authorization_code'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_processor_authorization_code_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentProcessorAuthorizationCodeResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.deprecated_request_payment_processor_authorization_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#deprecated_request_payment_processor_authorization_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download statement pdf
    # Use this endpoint to download a specified statement PDF.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param statement_guid [String] The unique id for a &#x60;statement&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_statement_pdf(member_guid, statement_guid, user_guid, opts = {})
      data, _status_code, _headers = download_statement_pdf_with_http_info(member_guid, statement_guid, user_guid, opts)
      data
    end

    # Download statement pdf
    # Use this endpoint to download a specified statement PDF.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param statement_guid [String] The unique id for a &#x60;statement&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_statement_pdf_with_http_info(member_guid, statement_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.download_statement_pdf ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.download_statement_pdf"
      end
      # verify the required parameter 'statement_guid' is set
      if @api_client.config.client_side_validation && statement_guid.nil?
        fail ArgumentError, "Missing the required parameter 'statement_guid' when calling MxPlatformApi.download_statement_pdf"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.download_statement_pdf"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/statements/{statement_guid}.pdf'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'statement_guid' + '}', CGI.escape(statement_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+pdf'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.download_statement_pdf",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#download_statement_pdf\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download a Tax Document PDF
    # Use this endpoint to download a PDF version of the specified tax document. The endpoint URL is the base URL appended with the uri of the tax_document.
    # @param tax_document_guid [String] The unique id for a &#x60;tax_document&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_tax_document(tax_document_guid, member_guid, user_guid, opts = {})
      data, _status_code, _headers = download_tax_document_with_http_info(tax_document_guid, member_guid, user_guid, opts)
      data
    end

    # Download a Tax Document PDF
    # Use this endpoint to download a PDF version of the specified tax document. The endpoint URL is the base URL appended with the uri of the tax_document.
    # @param tax_document_guid [String] The unique id for a &#x60;tax_document&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_tax_document_with_http_info(tax_document_guid, member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.download_tax_document ...'
      end
      # verify the required parameter 'tax_document_guid' is set
      if @api_client.config.client_side_validation && tax_document_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tax_document_guid' when calling MxPlatformApi.download_tax_document"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.download_tax_document"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.download_tax_document"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/tax_documents/{tax_document_guid}.pdf'.sub('{' + 'tax_document_guid' + '}', CGI.escape(tax_document_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+pdf'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.download_tax_document",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#download_tax_document\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enhance transactions
    # Use this endpoint to categorize, cleanse, and classify transactions. These transactions are not persisted or stored on the MX platform.
    # @param enhance_transactions_request_body [EnhanceTransactionsRequestBody] Transaction object to be enhanced
    # @param [Hash] opts the optional parameters
    # @return [EnhanceTransactionsResponseBody]
    def enhance_transactions(enhance_transactions_request_body, opts = {})
      data, _status_code, _headers = enhance_transactions_with_http_info(enhance_transactions_request_body, opts)
      data
    end

    # Enhance transactions
    # Use this endpoint to categorize, cleanse, and classify transactions. These transactions are not persisted or stored on the MX platform.
    # @param enhance_transactions_request_body [EnhanceTransactionsRequestBody] Transaction object to be enhanced
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnhanceTransactionsResponseBody, Integer, Hash)>] EnhanceTransactionsResponseBody data, response status code and response headers
    def enhance_transactions_with_http_info(enhance_transactions_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.enhance_transactions ...'
      end
      # verify the required parameter 'enhance_transactions_request_body' is set
      if @api_client.config.client_side_validation && enhance_transactions_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'enhance_transactions_request_body' when calling MxPlatformApi.enhance_transactions"
      end
      # resource path
      local_var_path = '/transactions/enhance'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enhance_transactions_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'EnhanceTransactionsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.enhance_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#enhance_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Extend history
    # Some institutions allow developers to access an extended transaction history with up to 24 months of data associated with a particular member. The process for fetching and then reading this extended transaction history is much like standard aggregation, and it may trigger multi-factor authentication.
    # @param member_guid [String] The unique identifier for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def extend_history(member_guid, user_guid, opts = {})
      data, _status_code, _headers = extend_history_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Extend history
    # Some institutions allow developers to access an extended transaction history with up to 24 months of data associated with a particular member. The process for fetching and then reading this extended transaction history is much like standard aggregation, and it may trigger multi-factor authentication.
    # @param member_guid [String] The unique identifier for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def extend_history_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.extend_history ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.extend_history"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.extend_history"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/extend_history'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.extend_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MxPlatformApi#extend_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Fetch statements
    # Use this endpoint to fetch the statements associated with a particular member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def fetch_statements(member_guid, user_guid, opts = {})
      data, _status_code, _headers = fetch_statements_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Fetch statements
    # Use this endpoint to fetch the statements associated with a particular member.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique id for a &#x60;user&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def fetch_statements_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MxPlatformApi.fetch_statements ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling MxPlatformApi.fetch_statements"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling MxPlatformApi.fetch_statements"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/fetch_statements'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"MxPlatformApi.fetch_statements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
[...]
