=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class ProcessorTokenApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Real Time Account Balance (Processors Only)
    # Check the real-time account balance using your access token.
    # @param [Hash] opts the optional parameters
    # @return [MemberResponseBody]
    def check_real_time_account_balance(opts = {})
      data, _status_code, _headers = check_real_time_account_balance_with_http_info(opts)
      data
    end

    # Check Real Time Account Balance (Processors Only)
    # Check the real-time account balance using your access token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MemberResponseBody, Integer, Hash)>] MemberResponseBody data, response status code and response headers
    def check_real_time_account_balance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.check_real_time_account_balance ...'
      end
      # resource path
      local_var_path = '/account/check_balance'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MemberResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.check_real_time_account_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#check_real_time_account_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # (Deprecated) Request an authorization code
    # (This endpoint is deprecated. Clients should use `/authorization_code`.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
    # @param payment_processor_authorization_code_request_body [PaymentProcessorAuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [PaymentProcessorAuthorizationCodeResponseBody]
    def deprecated_request_payment_processor_authorization_code(payment_processor_authorization_code_request_body, opts = {})
      data, _status_code, _headers = deprecated_request_payment_processor_authorization_code_with_http_info(payment_processor_authorization_code_request_body, opts)
      data
    end

    # (Deprecated) Request an authorization code
    # (This endpoint is deprecated. Clients should use &#x60;/authorization_code&#x60;.) Clients use this endpoint to request an authorization_code according to a user, member, and account specified in the request body. Clients then pass this code to processors. Processor access is scoped only to the user/member/account specified in this request. Before requesting an authorization_code, clients must have verified the specified member.
    # @param payment_processor_authorization_code_request_body [PaymentProcessorAuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentProcessorAuthorizationCodeResponseBody, Integer, Hash)>] PaymentProcessorAuthorizationCodeResponseBody data, response status code and response headers
    def deprecated_request_payment_processor_authorization_code_with_http_info(payment_processor_authorization_code_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.deprecated_request_payment_processor_authorization_code ...'
      end
      # verify the required parameter 'payment_processor_authorization_code_request_body' is set
      if @api_client.config.client_side_validation && payment_processor_authorization_code_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'payment_processor_authorization_code_request_body' when calling ProcessorTokenApi.deprecated_request_payment_processor_authorization_code"
      end
      # resource path
      local_var_path = '/payment_processor_authorization_code'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_processor_authorization_code_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentProcessorAuthorizationCodeResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.deprecated_request_payment_processor_authorization_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#deprecated_request_payment_processor_authorization_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get account owner information (Processors Only)
    # Get account owner information (Processors Only)
    # @param [Hash] opts the optional parameters
    # @return [ProcessorOwnerBody]
    def get_account_owner_info(opts = {})
      data, _status_code, _headers = get_account_owner_info_with_http_info(opts)
      data
    end

    # Get account owner information (Processors Only)
    # Get account owner information (Processors Only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcessorOwnerBody, Integer, Hash)>] ProcessorOwnerBody data, response status code and response headers
    def get_account_owner_info_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.get_account_owner_info ...'
      end
      # resource path
      local_var_path = '/account/transactions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcessorOwnerBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.get_account_owner_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#get_account_owner_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # View a List of Tokens
    # View a list of tokens that exist for a user, member, or account.
    # @param [Hash] opts the optional parameters
    # @option opts [TokenRequestBody] :token_request_body 
    # @return [TokenResponseBody]
    def list_tokens(opts = {})
      data, _status_code, _headers = list_tokens_with_http_info(opts)
      data
    end

    # View a List of Tokens
    # View a list of tokens that exist for a user, member, or account.
    # @param [Hash] opts the optional parameters
    # @option opts [TokenRequestBody] :token_request_body 
    # @return [Array<(TokenResponseBody, Integer, Hash)>] TokenResponseBody data, response status code and response headers
    def list_tokens_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.list_tokens ...'
      end
      # resource path
      local_var_path = '/tokens'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'token_request_body'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.list_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#list_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the account balance (Processors Only)
    # Read the account balance (Processors Only)
    # @param [Hash] opts the optional parameters
    # @return [PaymentAccountBody]
    def read_account_balance(opts = {})
      data, _status_code, _headers = read_account_balance_with_http_info(opts)
      data
    end

    # Read the account balance (Processors Only)
    # Read the account balance (Processors Only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentAccountBody, Integer, Hash)>] PaymentAccountBody data, response status code and response headers
    def read_account_balance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.read_account_balance ...'
      end
      # resource path
      local_var_path = '/payment_account'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentAccountBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.read_account_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#read_account_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request an account number (Processors Only)
    # Get account information such as routing number and account number, scoped to your access token.
    # @param [Hash] opts the optional parameters
    # @return [ProcessorAccountNumberBody]
    def request_account_number(opts = {})
      data, _status_code, _headers = request_account_number_with_http_info(opts)
      data
    end

    # Request an account number (Processors Only)
    # Get account information such as routing number and account number, scoped to your access token.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProcessorAccountNumberBody, Integer, Hash)>] ProcessorAccountNumberBody data, response status code and response headers
    def request_account_number_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.request_account_number ...'
      end
      # resource path
      local_var_path = '/account/account_numbers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProcessorAccountNumberBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearerAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.request_account_number",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#request_account_number\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request an authorization code
    # Clients use this endpoint to request an authorization code according to the parameters specified in the scope. Clients then pass this code to processors. Processor access is scoped only to the GUIDs and features specified in this request. Before requesting an authorization code which includes a member in the scope, clients must have verified that member.
    # @param authorization_code_request_body [AuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [AuthorizationCodeResponseBody]
    def request_authorization_code(authorization_code_request_body, opts = {})
      data, _status_code, _headers = request_authorization_code_with_http_info(authorization_code_request_body, opts)
      data
    end

    # Request an authorization code
    # Clients use this endpoint to request an authorization code according to the parameters specified in the scope. Clients then pass this code to processors. Processor access is scoped only to the GUIDs and features specified in this request. Before requesting an authorization code which includes a member in the scope, clients must have verified that member.
    # @param authorization_code_request_body [AuthorizationCodeRequestBody] The scope for the authorization code.
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthorizationCodeResponseBody, Integer, Hash)>] AuthorizationCodeResponseBody data, response status code and response headers
    def request_authorization_code_with_http_info(authorization_code_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProcessorTokenApi.request_authorization_code ...'
      end
      # verify the required parameter 'authorization_code_request_body' is set
      if @api_client.config.client_side_validation && authorization_code_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'authorization_code_request_body' when calling ProcessorTokenApi.request_authorization_code"
      end
      # resource path
      local_var_path = '/authorization_code'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(authorization_code_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthorizationCodeResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"ProcessorTokenApi.request_authorization_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProcessorTokenApi#request_authorization_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
