=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class TaggingsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create tagging
    # Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param tagging_create_request_body [TaggingCreateRequestBody] Tagging object to be created with required parameters (tag_guid and transaction_guid)
    # @param [Hash] opts the optional parameters
    # @return [TaggingResponseBody]
    def create_tagging(user_guid, tagging_create_request_body, opts = {})
      data, _status_code, _headers = create_tagging_with_http_info(user_guid, tagging_create_request_body, opts)
      data
    end

    # Create tagging
    # Use this endpoint to create a new association between a tag and a particular transaction, according to their unique GUIDs.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param tagging_create_request_body [TaggingCreateRequestBody] Tagging object to be created with required parameters (tag_guid and transaction_guid)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaggingResponseBody, Integer, Hash)>] TaggingResponseBody data, response status code and response headers
    def create_tagging_with_http_info(user_guid, tagging_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaggingsApi.create_tagging ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TaggingsApi.create_tagging"
      end
      # verify the required parameter 'tagging_create_request_body' is set
      if @api_client.config.client_side_validation && tagging_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_create_request_body' when calling TaggingsApi.create_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tagging_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TaggingResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TaggingsApi.create_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaggingsApi#create_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete tagging
    # Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_tagging(tagging_guid, user_guid, opts = {})
      delete_tagging_with_http_info(tagging_guid, user_guid, opts)
      nil
    end

    # Delete tagging
    # Use this endpoint to delete a tagging according to its unique GUID. If successful, the API will respond with an empty body and a status of 204 NO Content.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_tagging_with_http_info(tagging_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaggingsApi.delete_tagging ...'
      end
      # verify the required parameter 'tagging_guid' is set
      if @api_client.config.client_side_validation && tagging_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_guid' when calling TaggingsApi.delete_tagging"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TaggingsApi.delete_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings/{tagging_guid}'.sub('{' + 'tagging_guid' + '}', CGI.escape(tagging_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TaggingsApi.delete_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaggingsApi#delete_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List taggings
    # Use this endpoint to retrieve a list of all the taggings associated with a specific user.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [TaggingsResponseBody]
    def list_taggings(user_guid, opts = {})
      data, _status_code, _headers = list_taggings_with_http_info(user_guid, opts)
      data
    end

    # List taggings
    # Use this endpoint to retrieve a list of all the taggings associated with a specific user.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(TaggingsResponseBody, Integer, Hash)>] TaggingsResponseBody data, response status code and response headers
    def list_taggings_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaggingsApi.list_taggings ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TaggingsApi.list_taggings"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaggingsResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TaggingsApi.list_taggings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaggingsApi#list_taggings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read tagging
    # Use this endpoint to read the attributes of a `tagging` according to its unique GUID.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TaggingResponseBody]
    def read_tagging(tagging_guid, user_guid, opts = {})
      data, _status_code, _headers = read_tagging_with_http_info(tagging_guid, user_guid, opts)
      data
    end

    # Read tagging
    # Use this endpoint to read the attributes of a &#x60;tagging&#x60; according to its unique GUID.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaggingResponseBody, Integer, Hash)>] TaggingResponseBody data, response status code and response headers
    def read_tagging_with_http_info(tagging_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaggingsApi.read_tagging ...'
      end
      # verify the required parameter 'tagging_guid' is set
      if @api_client.config.client_side_validation && tagging_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_guid' when calling TaggingsApi.read_tagging"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TaggingsApi.read_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings/{tagging_guid}'.sub('{' + 'tagging_guid' + '}', CGI.escape(tagging_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaggingResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TaggingsApi.read_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaggingsApi#read_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update tagging
    # Use this endpoint to update a tagging.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param tagging_update_request_body [TaggingUpdateRequestBody] Tagging object to be updated with required parameter (tag_guid)
    # @param [Hash] opts the optional parameters
    # @return [TaggingResponseBody]
    def update_tagging(tagging_guid, user_guid, tagging_update_request_body, opts = {})
      data, _status_code, _headers = update_tagging_with_http_info(tagging_guid, user_guid, tagging_update_request_body, opts)
      data
    end

    # Update tagging
    # Use this endpoint to update a tagging.
    # @param tagging_guid [String] The unique id for a &#x60;tagging&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param tagging_update_request_body [TaggingUpdateRequestBody] Tagging object to be updated with required parameter (tag_guid)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaggingResponseBody, Integer, Hash)>] TaggingResponseBody data, response status code and response headers
    def update_tagging_with_http_info(tagging_guid, user_guid, tagging_update_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaggingsApi.update_tagging ...'
      end
      # verify the required parameter 'tagging_guid' is set
      if @api_client.config.client_side_validation && tagging_guid.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_guid' when calling TaggingsApi.update_tagging"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TaggingsApi.update_tagging"
      end
      # verify the required parameter 'tagging_update_request_body' is set
      if @api_client.config.client_side_validation && tagging_update_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'tagging_update_request_body' when calling TaggingsApi.update_tagging"
      end
      # resource path
      local_var_path = '/users/{user_guid}/taggings/{tagging_guid}'.sub('{' + 'tagging_guid' + '}', CGI.escape(tagging_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(tagging_update_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TaggingResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TaggingsApi.update_tagging",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaggingsApi#update_tagging\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
