=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class TransactionRulesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create transaction rule
    # Use this endpoint to create a new transaction rule. The newly-created `transaction_rule` object will be returned if successful.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param transaction_rule_create_request_body [TransactionRuleCreateRequestBody] TransactionRule object to be created with optional parameters (description) and required parameters (category_guid and match_description)
    # @param [Hash] opts the optional parameters
    # @return [TransactionRuleResponseBody]
    def create_transaction_rule(user_guid, transaction_rule_create_request_body, opts = {})
      data, _status_code, _headers = create_transaction_rule_with_http_info(user_guid, transaction_rule_create_request_body, opts)
      data
    end

    # Create transaction rule
    # Use this endpoint to create a new transaction rule. The newly-created &#x60;transaction_rule&#x60; object will be returned if successful.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param transaction_rule_create_request_body [TransactionRuleCreateRequestBody] TransactionRule object to be created with optional parameters (description) and required parameters (category_guid and match_description)
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionRuleResponseBody, Integer, Hash)>] TransactionRuleResponseBody data, response status code and response headers
    def create_transaction_rule_with_http_info(user_guid, transaction_rule_create_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionRulesApi.create_transaction_rule ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TransactionRulesApi.create_transaction_rule"
      end
      # verify the required parameter 'transaction_rule_create_request_body' is set
      if @api_client.config.client_side_validation && transaction_rule_create_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_create_request_body' when calling TransactionRulesApi.create_transaction_rule"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(transaction_rule_create_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionRuleResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TransactionRulesApi.create_transaction_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionRulesApi#create_transaction_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List transaction rules
    # Use this endpoint to read the attributes of all existing transaction rules belonging to the user.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [TransactionRulesResponseBody]
    def list_transaction_rules(user_guid, opts = {})
      data, _status_code, _headers = list_transaction_rules_with_http_info(user_guid, opts)
      data
    end

    # List transaction rules
    # Use this endpoint to read the attributes of all existing transaction rules belonging to the user.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Results are paginated. Specify current page.
    # @option opts [Integer] :records_per_page This specifies the number of records to be returned on each page. Defaults to &#x60;25&#x60;. The valid range is from &#x60;10&#x60; to &#x60;1000&#x60;. If the value exceeds &#x60;1000&#x60;, the default value of &#x60;25&#x60; will be used instead.
    # @return [Array<(TransactionRulesResponseBody, Integer, Hash)>] TransactionRulesResponseBody data, response status code and response headers
    def list_transaction_rules_with_http_info(user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionRulesApi.list_transaction_rules ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TransactionRulesApi.list_transaction_rules"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'records_per_page'] = opts[:'records_per_page'] if !opts[:'records_per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionRulesResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TransactionRulesApi.list_transaction_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionRulesApi#list_transaction_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read transaction rule
    # Use this endpoint to read the attributes of an existing transaction rule based on the rule’s unique GUID.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [TransactionRuleResponseBody]
    def read_transaction_rule(transaction_rule_guid, user_guid, opts = {})
      data, _status_code, _headers = read_transaction_rule_with_http_info(transaction_rule_guid, user_guid, opts)
      data
    end

    # Read transaction rule
    # Use this endpoint to read the attributes of an existing transaction rule based on the rule’s unique GUID.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionRuleResponseBody, Integer, Hash)>] TransactionRuleResponseBody data, response status code and response headers
    def read_transaction_rule_with_http_info(transaction_rule_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionRulesApi.read_transaction_rule ...'
      end
      # verify the required parameter 'transaction_rule_guid' is set
      if @api_client.config.client_side_validation && transaction_rule_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_guid' when calling TransactionRulesApi.read_transaction_rule"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TransactionRulesApi.read_transaction_rule"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules/{transaction_rule_guid}'.sub('{' + 'transaction_rule_guid' + '}', CGI.escape(transaction_rule_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionRuleResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TransactionRulesApi.read_transaction_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionRulesApi#read_transaction_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update transaction rule
    # Use this endpoint to update the attributes of a specific transaction rule based on its unique GUID. The API will respond with the updated transaction_rule object. Any attributes not provided will be left unchanged.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param transaction_rule_update_request_body [TransactionRuleUpdateRequestBody] TransactionRule object to be updated
    # @param [Hash] opts the optional parameters
    # @return [TransactionRuleResponseBody]
    def update_transaction_rule(transaction_rule_guid, user_guid, transaction_rule_update_request_body, opts = {})
      data, _status_code, _headers = update_transaction_rule_with_http_info(transaction_rule_guid, user_guid, transaction_rule_update_request_body, opts)
      data
    end

    # Update transaction rule
    # Use this endpoint to update the attributes of a specific transaction rule based on its unique GUID. The API will respond with the updated transaction_rule object. Any attributes not provided will be left unchanged.
    # @param transaction_rule_guid [String] The unique id for a &#x60;transaction_rule&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param transaction_rule_update_request_body [TransactionRuleUpdateRequestBody] TransactionRule object to be updated
    # @param [Hash] opts the optional parameters
    # @return [Array<(TransactionRuleResponseBody, Integer, Hash)>] TransactionRuleResponseBody data, response status code and response headers
    def update_transaction_rule_with_http_info(transaction_rule_guid, user_guid, transaction_rule_update_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TransactionRulesApi.update_transaction_rule ...'
      end
      # verify the required parameter 'transaction_rule_guid' is set
      if @api_client.config.client_side_validation && transaction_rule_guid.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_guid' when calling TransactionRulesApi.update_transaction_rule"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling TransactionRulesApi.update_transaction_rule"
      end
      # verify the required parameter 'transaction_rule_update_request_body' is set
      if @api_client.config.client_side_validation && transaction_rule_update_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_rule_update_request_body' when calling TransactionRulesApi.update_transaction_rule"
      end
      # resource path
      local_var_path = '/users/{user_guid}/transaction_rules/{transaction_rule_guid}'.sub('{' + 'transaction_rule_guid' + '}', CGI.escape(transaction_rule_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(transaction_rule_update_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'TransactionRuleResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"TransactionRulesApi.update_transaction_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TransactionRulesApi#update_transaction_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
