=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class VerifiableCredentialsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Accounts Data
    # Get an MX-issued verifiable credential of a user's accounts data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [VCResponse]
    def get_accounts_data(user_guid, member_guid, opts = {})
      data, _status_code, _headers = get_accounts_data_with_http_info(user_guid, member_guid, opts)
      data
    end

    # Get Accounts Data
    # Get an MX-issued verifiable credential of a user&#39;s accounts data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VCResponse, Integer, Hash)>] VCResponse data, response status code and response headers
    def get_accounts_data_with_http_info(user_guid, member_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiableCredentialsApi.get_accounts_data ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling VerifiableCredentialsApi.get_accounts_data"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling VerifiableCredentialsApi.get_accounts_data"
      end
      # resource path
      local_var_path = '/vc/users/{user_guid}/members/{member_guid}/accounts'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v2beta+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VCResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VerifiableCredentialsApi.get_accounts_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiableCredentialsApi#get_accounts_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Identity Data
    # Get an MX-issued verifiable credential of a user's identity data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [VCResponse]
    def get_identity_data(user_guid, member_guid, opts = {})
      data, _status_code, _headers = get_identity_data_with_http_info(user_guid, member_guid, opts)
      data
    end

    # Get Identity Data
    # Get an MX-issued verifiable credential of a user&#39;s identity data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(VCResponse, Integer, Hash)>] VCResponse data, response status code and response headers
    def get_identity_data_with_http_info(user_guid, member_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiableCredentialsApi.get_identity_data ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling VerifiableCredentialsApi.get_identity_data"
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling VerifiableCredentialsApi.get_identity_data"
      end
      # resource path
      local_var_path = '/vc/users/{user_guid}/members/{member_guid}/customers'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s)).sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v2beta+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VCResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VerifiableCredentialsApi.get_identity_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiableCredentialsApi#get_identity_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Transactions Data
    # Get an MX-issued verifiable credential of a user's transaction data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_time Filter transactions from this date. Must be in the format YYYY-MM-DD. The range is limited to 1 year.
    # @option opts [String] :end_time Filter transactions to this date. Must be in the format YYYY-MM-DD. The range is limited to 1 year.
    # @return [VCResponse]
    def get_transactions_data(user_guid, account_guid, opts = {})
      data, _status_code, _headers = get_transactions_data_with_http_info(user_guid, account_guid, opts)
      data
    end

    # Get Transactions Data
    # Get an MX-issued verifiable credential of a user&#39;s transaction data.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param account_guid [String] The unique id for an &#x60;account&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :start_time Filter transactions from this date. Must be in the format YYYY-MM-DD. The range is limited to 1 year.
    # @option opts [String] :end_time Filter transactions to this date. Must be in the format YYYY-MM-DD. The range is limited to 1 year.
    # @return [Array<(VCResponse, Integer, Hash)>] VCResponse data, response status code and response headers
    def get_transactions_data_with_http_info(user_guid, account_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiableCredentialsApi.get_transactions_data ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling VerifiableCredentialsApi.get_transactions_data"
      end
      # verify the required parameter 'account_guid' is set
      if @api_client.config.client_side_validation && account_guid.nil?
        fail ArgumentError, "Missing the required parameter 'account_guid' when calling VerifiableCredentialsApi.get_transactions_data"
      end
      # resource path
      local_var_path = '/vc/users/{user_guid}/accounts/{account_guid}/transactions'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s)).sub('{' + 'account_guid' + '}', CGI.escape(account_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v2beta+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VCResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"VerifiableCredentialsApi.get_transactions_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiableCredentialsApi#get_transactions_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
