=begin
#MX Platform API

#The MX Platform API is a powerful, fully-featured API designed to make aggregating and enhancing financial data easy and reliable. It can seamlessly connect your app or website to tens of thousands of financial institutions.  Just getting started? See our [use case guides](/use-cases/). 

The version of the OpenAPI document: 20111101

Generated by: https://openapi-generator.tech
Generator version: 7.8.0

=end

require 'cgi'

module MxPlatformRuby
  class WidgetsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # (Deprecated) Request connect widget URL
    # This endpoint will return a URL for an embeddable version of MX Connect.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param connect_widget_request_body [ConnectWidgetRequestBody] Optional config options for WebView (is_mobile_webview, current_institution_code, current_member_guid, update_credentials)
    # @param [Hash] opts the optional parameters
    # @return [ConnectWidgetResponseBody]
    def request_connect_widget_url(user_guid, connect_widget_request_body, opts = {})
      data, _status_code, _headers = request_connect_widget_url_with_http_info(user_guid, connect_widget_request_body, opts)
      data
    end

    # (Deprecated) Request connect widget URL
    # This endpoint will return a URL for an embeddable version of MX Connect.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param connect_widget_request_body [ConnectWidgetRequestBody] Optional config options for WebView (is_mobile_webview, current_institution_code, current_member_guid, update_credentials)
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectWidgetResponseBody, Integer, Hash)>] ConnectWidgetResponseBody data, response status code and response headers
    def request_connect_widget_url_with_http_info(user_guid, connect_widget_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WidgetsApi.request_connect_widget_url ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling WidgetsApi.request_connect_widget_url"
      end
      # verify the required parameter 'connect_widget_request_body' is set
      if @api_client.config.client_side_validation && connect_widget_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'connect_widget_request_body' when calling WidgetsApi.request_connect_widget_url"
      end
      # resource path
      local_var_path = '/users/{user_guid}/connect_widget_url'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_widget_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectWidgetResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WidgetsApi.request_connect_widget_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WidgetsApi#request_connect_widget_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request oauth window uri
    # This endpoint will generate an `oauth_window_uri` for the specified `member`.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_redirect_url A URL that MX will redirect to at the end of OAuth with additional query parameters. Only available with &#x60;referral_source&#x3D;APP&#x60;.
    # @option opts [String] :enable_app2app This indicates whether OAuth app2app behavior is enabled for institutions that support it. Defaults to &#x60;true&#x60;. When set to &#x60;false&#x60;, any &#x60;oauth_window_uri&#x60; generated will **not** direct the end user to the institution&#39;s mobile application. This setting is not persistent. This setting currently only affects Chase institutions.
    # @option opts [String] :referral_source Must be either &#x60;BROWSER&#x60; or &#x60;APP&#x60; depending on the implementation. Defaults to &#x60;BROWSER&#x60;.
    # @option opts [Boolean] :skip_aggregation Setting this parameter to &#x60;true&#x60; will prevent the member from automatically aggregating after being redirected from the authorization page.
    # @option opts [String] :ui_message_webview_url_scheme A scheme for routing the user back to the application state they were previously in. Only available with &#x60;referral_source&#x3D;APP&#x60;.
    # @return [OAuthWindowResponseBody]
    def request_o_auth_window_uri(member_guid, user_guid, opts = {})
      data, _status_code, _headers = request_o_auth_window_uri_with_http_info(member_guid, user_guid, opts)
      data
    end

    # Request oauth window uri
    # This endpoint will generate an &#x60;oauth_window_uri&#x60; for the specified &#x60;member&#x60;.
    # @param member_guid [String] The unique id for a &#x60;member&#x60;.
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :client_redirect_url A URL that MX will redirect to at the end of OAuth with additional query parameters. Only available with &#x60;referral_source&#x3D;APP&#x60;.
    # @option opts [String] :enable_app2app This indicates whether OAuth app2app behavior is enabled for institutions that support it. Defaults to &#x60;true&#x60;. When set to &#x60;false&#x60;, any &#x60;oauth_window_uri&#x60; generated will **not** direct the end user to the institution&#39;s mobile application. This setting is not persistent. This setting currently only affects Chase institutions.
    # @option opts [String] :referral_source Must be either &#x60;BROWSER&#x60; or &#x60;APP&#x60; depending on the implementation. Defaults to &#x60;BROWSER&#x60;.
    # @option opts [Boolean] :skip_aggregation Setting this parameter to &#x60;true&#x60; will prevent the member from automatically aggregating after being redirected from the authorization page.
    # @option opts [String] :ui_message_webview_url_scheme A scheme for routing the user back to the application state they were previously in. Only available with &#x60;referral_source&#x3D;APP&#x60;.
    # @return [Array<(OAuthWindowResponseBody, Integer, Hash)>] OAuthWindowResponseBody data, response status code and response headers
    def request_o_auth_window_uri_with_http_info(member_guid, user_guid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WidgetsApi.request_o_auth_window_uri ...'
      end
      # verify the required parameter 'member_guid' is set
      if @api_client.config.client_side_validation && member_guid.nil?
        fail ArgumentError, "Missing the required parameter 'member_guid' when calling WidgetsApi.request_o_auth_window_uri"
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling WidgetsApi.request_o_auth_window_uri"
      end
      # resource path
      local_var_path = '/users/{user_guid}/members/{member_guid}/oauth_window_uri'.sub('{' + 'member_guid' + '}', CGI.escape(member_guid.to_s)).sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'client_redirect_url'] = opts[:'client_redirect_url'] if !opts[:'client_redirect_url'].nil?
      query_params[:'enable_app2app'] = opts[:'enable_app2app'] if !opts[:'enable_app2app'].nil?
      query_params[:'referral_source'] = opts[:'referral_source'] if !opts[:'referral_source'].nil?
      query_params[:'skip_aggregation'] = opts[:'skip_aggregation'] if !opts[:'skip_aggregation'].nil?
      query_params[:'ui_message_webview_url_scheme'] = opts[:'ui_message_webview_url_scheme'] if !opts[:'ui_message_webview_url_scheme'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OAuthWindowResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WidgetsApi.request_o_auth_window_uri",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WidgetsApi#request_o_auth_window_uri\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request widget URL
    # Get an embeddable URL for integrating a widget into your website or app. The URL expires after ten minutes or upon first use, whichever occurs first. You'll need to obtain a new URL each time the page loads or reloads.  Include the `widget_type` in the request body to specify which widget you want to embed—the Connect Widget, a Personal Financial Management widget, or an Insights widget. Some request parameters are specific to certain widget types.  To embed the Connect Widget, set `widget_type` to `connect_widget`.  For a full list of available widget types, see [Widget Types](/api-reference/platform-api/reference/widgets#widget-types). 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param widget_request_body [WidgetRequestBody] The widget url configuration options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The desired language of the widget.
    # @option opts [String] :x_callback_payload The base64 encoded string defined in this header will be returned in the [Member](/resources/webhooks/member/) and [Member Data Updated](/resources/webhooks/member#member-data-updated) webhooks. This allows you to trace user interactions and workflows initiated externally and internally in the MX Platform. Max 1024 characters.
    # @return [WidgetResponseBody]
    def request_widget_url(user_guid, widget_request_body, opts = {})
      data, _status_code, _headers = request_widget_url_with_http_info(user_guid, widget_request_body, opts)
      data
    end

    # Request widget URL
    # Get an embeddable URL for integrating a widget into your website or app. The URL expires after ten minutes or upon first use, whichever occurs first. You&#39;ll need to obtain a new URL each time the page loads or reloads.  Include the &#x60;widget_type&#x60; in the request body to specify which widget you want to embed—the Connect Widget, a Personal Financial Management widget, or an Insights widget. Some request parameters are specific to certain widget types.  To embed the Connect Widget, set &#x60;widget_type&#x60; to &#x60;connect_widget&#x60;.  For a full list of available widget types, see [Widget Types](/api-reference/platform-api/reference/widgets#widget-types). 
    # @param user_guid [String] The unique identifier for a &#x60;user&#x60;, beginning with the prefix &#x60;USR-&#x60;.
    # @param widget_request_body [WidgetRequestBody] The widget url configuration options.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :accept_language The desired language of the widget.
    # @option opts [String] :x_callback_payload The base64 encoded string defined in this header will be returned in the [Member](/resources/webhooks/member/) and [Member Data Updated](/resources/webhooks/member#member-data-updated) webhooks. This allows you to trace user interactions and workflows initiated externally and internally in the MX Platform. Max 1024 characters.
    # @return [Array<(WidgetResponseBody, Integer, Hash)>] WidgetResponseBody data, response status code and response headers
    def request_widget_url_with_http_info(user_guid, widget_request_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WidgetsApi.request_widget_url ...'
      end
      # verify the required parameter 'user_guid' is set
      if @api_client.config.client_side_validation && user_guid.nil?
        fail ArgumentError, "Missing the required parameter 'user_guid' when calling WidgetsApi.request_widget_url"
      end
      # verify the required parameter 'widget_request_body' is set
      if @api_client.config.client_side_validation && widget_request_body.nil?
        fail ArgumentError, "Missing the required parameter 'widget_request_body' when calling WidgetsApi.request_widget_url"
      end
      # resource path
      local_var_path = '/users/{user_guid}/widget_urls'.sub('{' + 'user_guid' + '}', CGI.escape(user_guid.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.mx.api.v1+json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Accept-Language'] = opts[:'accept_language'] if !opts[:'accept_language'].nil?
      header_params[:'X-CALLBACK-PAYLOAD'] = opts[:'x_callback_payload'] if !opts[:'x_callback_payload'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(widget_request_body)

      # return_type
      return_type = opts[:debug_return_type] || 'WidgetResponseBody'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"WidgetsApi.request_widget_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WidgetsApi#request_widget_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
